@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'fonts';
@import 'patterns';

html {
  font-size: 14px;
}

body {
  background: var(--surface-ground);
}

// --text-color:	          Font text color.
// --text-secondary-color:	Muted font text color with a secondary level.
// --primary-color:	        Primary color of the theme.
// --primary-color-text:	  Text color when background is primary color.
// --font-family:	          Font family of the theme.
// --inline-spacing:	      Spacing between to adjacent items.
// --border-radius:	        Common border radius of elements.
// --focus-ring:	          Box shadow of a focused element.
// --mask-bg:	              Background of an overlay mask.
// --highlight-bg:	        Background of a highlighted element.
// --highlight-text-color:	Text color of a highlighted element.

// --surface-ground:	      Base ground color.
// --surface-section:	      Background color of a section on a ground surface.
// --surface-card:	        Color of a surface used as a card.
// --surface-overlay:	      Color of overlay surfaces.
// --surface-border:	      Color of a divider.
// --surface-hover:	        Color of an element in hover state.

.required {
  label {
    &:after {
      @apply text-red-500;
      content: '*';
    }
  }
}

[data-lastpass-icon-root] {
  display: none;
}

.border {
  @apply border-solid;
  border-color: var(--surface-border);
}

.bg-pattern-transparent {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23000000' fill-opacity='0.15'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: 2rem;
}

.p-tabview-nav-link {
  outline: none;
}

.p-inputtext[type='time'] {
  height: 2.3575rem;
}

.text-primary {
  color: var(--primary-color);
}

.v-tour {
  &__target--highlighted {
    @apply ring-2 ring-offset-2 rounded;
    --tw-ring-color: var(--primary-500);
    --tw-ring-offset-color: var(--primary-50);
  }

  .v-step {
    @apply rounded-lg leading-6 p-4;
    background: var(--primary-600);

    &__header {
      @apply py-2 rounded-t-lg -m-4 mb-0 font-semibold text-lg;
      background: var(--primary-700);
    }

    &__content {
      @apply py-3 mb-0;
    }

    &__buttons {
      @apply flex justify-center gap-2;
    }

    &__button {
      @apply text-base h-auto py-2 px-4 m-0 rounded-md;
      font-family: inherit;
      line-height: 1;
    }

    &__arrow {
      &:before {
        background: var(--primary-700);
      }
    }

    &[data-popper-placement='left-start'] .v-step__arrow {
      top: 1rem !important;
      transform: none !important;
      right: 0;
    }
  }
}
